<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.shmitapp.app"
        version   = "1.0.4">

    <name>ShmitApp</name>

    <description>
        All dates for shmita.
    </description>
		
    <author href="http://phonegap.com" email="support@phonegap.com">
        KivaMode
    </author>

	<gap:platforms>
		<gap:platform name="ios" />
		<gap:platform name="android" />
		<gap:platform name="winphone" />
	</gap:platforms>
	
	<icon gap:platform="android" gap:qualifier="ldpi" src="www/icon.png" />
    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions" value="none"/>
	<access origin="*"/>

    
        <access origin="http://phonegap.com" />                    
        <access origin="http://phonegap.com" subdomains="true" />  
        <access origin="http://phonegap.com" browserOnly="true" /> 
    

	<!-- Define app icon for each platform. -->
    <!--<icon src="images/icons/icon.png" />
    <icon src="images/icons/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
	<icon src="images/icons/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="images/icons/ios/icon-76.png"            gap:platform="ios"        width="76" height="76" />
    <icon src="images/icons/ios/icon-57-2x.png"         gap:platform="ios"        width="120" height="120" />
    <icon src="images/icons/ios/icon-72-2x.png"         gap:platform="ios"        width="152" height="152" />
    <icon src="images/icons/windows-phone/icon-48.png"  gap:platform="winphone" />
    <icon src="images/icons/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />-->
	
</widget>